In [ ]:
1# print 0 to 20 by using range

In [1]:
for i in range (0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
2# print range 10 to 20

In [3]:
for i in range (9,20):
    print(i, end=" ")

9 10 11 12 13 14 15 16 17 18 19

In [ ]:
# Print number of items in the list by using 'len'

In [5]:
List2 = [10, 20, 14, 55, 43, 87, 76]
length = len(List2)
print("Number of items in List2:", length)

Number of items in List2: 7

In [ ]:
3.

In [25]:
name="Artificial Intelligence"
print(name)
for i in  name:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
3.

In [33]:
personal_details=["sharan","27","nothing"]
for i in  (personal_details):
    print(i)

sharan
27
nothing

In [ ]:
4.# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples

In [43]:
tuple1=(1, 'Welcome', 2, 'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [ ]:
5.

In [47]:
((0, 1, 2, 3), ('python', 'HOPE'))
tuple1=(0, 1, 2, )
tuple2=('python', 'HOPE')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2), ('python', 'HOPE'))

In [ ]:
6.

In [55]:
list1=(20,10,16,19,25,1,276,188)
for i in list1:
    if i%2==1:
        print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [ ]:
7.

In [57]:
list1=(20,10,16,19,25,1,276,188)
for i in list1:
    if i%2==0:
        print(i,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even